.groupCities {
    background: rgba(35, 55, 131, 0.4) !important;
    margin-bottom: 3px !important;
    height: 35px !important;
    text-align: center !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: blanchedalmond !important;
}